* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color:#f7f7f7;
    --container-bg-color: #fff;
    --primary-text-color: #333;
    --radio-select-color: var(--container-bg-color);
    --button-text-color: var(--container-bg-color);
    --button-darkmode-bg-color: #000000;
    --button-add-bg-color: #4caf50;
    --button-prior-bg-color: #ff9800;
    --button-delete-bg-color: #f44336;
    --priority-marker-color: #ff9800;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

button {
    width: 100px;
    border: none;
    border-radius: 5px;
    color: var(--button-text-color);
    font-size: 16px;
    padding: 8px 16px;
    margin-left: 10px;
    cursor: pointer;
}

.container {
    background-color: var(--container-bg-color);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 700px;
}

.container h1{
    text-align: center;
    /* margin-bottom: 30px; */
}

.container-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.container-hdr #darkmode-btn {
    background-color: var(--button-darkmode-bg-color);
    width: 220px;
    height: 40px;
}

.add-todo-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-todo-form input {
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
}

.add-todo-form .add-btn {
    background-color: var(--button-add-bg-color);
}

.filter {
    margin: 10px auto;
    accent-color: var(--radio-select-color);
}

.task-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0 10px 10px;
    border-left: 5px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.task-item.priority{
    border-left: 5px solid var(--priority-marker-color);
}

.task-item p {
    font-size: 16px;
}

.task-item.completed p {
    text-decoration: line-through;
    font-style: italic;
    color: #999;
}

.task-item .prioritize-btn{
    background-color: var(--button-prior-bg-color);
    margin-left: auto;
}

.task-item .delete-btn{
    background-color: var(--button-delete-bg-color);
}

.dark-mode {
    --background-color:#000000;
    --container-bg-color: #121212;
    --primary-text-color: #FFFFFF;
}